body {
    padding: 0 13px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 12px;
}

.logo {
    width: 100px;
}

.subheader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.subheader h2,
.subheader p {
    margin: 1rem 0;
}

.card {
    max-width: 400px;
    margin-bottom: 16px;
}

.card > p {
    margin: 0;
}

.photo {
    width: 100%;
    border-radius: 24px;
    max-height: 239px;
}

.card > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.57px;
    padding: 16px;
    border: none;
}

.location {
    color: #000000;
    border-right: 1px solid #BDBDBD;
}

.add-guest {
    color: #BDBDBD;
    border-right: 1px solid #BDBDBD;
}

.search-icon {
    padding-right: 2rem;
    background-image: url(./assets/search.svg);
    background-position: 100% 10%;
    background-repeat: no-repeat;
    background-size: 20px;
}

.buttons {
    border-radius: 16px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.super-host {
    text-transform: uppercase;
    border: 1px solid #4F4F4F;
    color: #4F4F4F;
    border-radius: 12px;
    box-sizing: border-box;
    width: 89px;
    height: 25px;
    font-size: 10px;
    font-weight: 700;
    line-height: 12.19px;
    padding: 0;
}

.rating {
    padding-left: 1.5rem;
    background-image: url(./assets/grade-24px.svg);
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.popup-box {
	width: 100%;
	height: 100vh;
	background-color: #00000050;
	position: absolute; 
	top: 0;
    left: 0;
}

.box {
    background-color: white;
    width: 100%;
	height: 80vh;
}

.head {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
}

fieldset {
   border: none;
}

fieldset:first-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

form > div {
    width: 100%;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.button-search {
    background-color: #EB5757;
    color: #F2F2F2;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    border: none;
    padding: 1rem 2rem;
    padding-left: 3rem;
    border-radius: 16px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 60%;
    left: 25%;
    background-image: url(./assets/search-w.svg);
    background-position: 1rem center;
    background-repeat: no-repeat;
    background-size: 20px;
}



.option {
    position: fixed;
    top: 40%;
    left: 10%;
}

.guest-input li,
.guest-input h5,
.guest-input p {
    padding: 5px;
    margin: 0;
}

li {
    list-style: none;
}

li > div {
    display: flex;
    column-gap: 1rem;
}

li button {
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    color: #828282;
}

.guest {
    width: 100%;
    height: auto;
    text-align: left;
    padding-block: 0;
}

select,
option {
    border: none;
}

@media(min-width: 950px) {
    .card-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 20px;
    }

    p {
        font-size: 14px;
    }

    .buttons {
        position: absolute;
        top: 0%;
        left: 70%;
    }

    .search-icon {
        padding-right: 2rem;
        background-image: url(./assets/search.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
    }

    body > header,
    main {
        max-width: 1140px;
        margin: 0 auto;
    }

    .head {
        visibility: hidden;
    }

    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    form > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .button-search {
        position: relative;
        top: 0;
        left: -20%;
    }

    fieldset:first-of-type {
        border-bottom: none;
    }

    .guest {
        width: auto;
    }

    .guest-input {
        max-width: 250px;
        margin: 0 auto;
    }

    .box {
        height: 50%;
    }
}