body {
    padding: 0 13px;
    position: relative;
}

.logo {
    width: 100px;
}

.card {
    max-width: 500px;
}

.photo {
    width: 100%;
    border-radius: 24px;
    max-height: 239px;
}

.card > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.57px;
    padding: 16px;
    border: none;
}

.location {
    color: #000000;
    border-right: 1px solid #BDBDBD;
}

.add-guest {
    color: #BDBDBD;
    border-right: 1px solid #BDBDBD;
}

.search-icon {
    padding-right: 2rem;
    background-image: url(./assets/search.svg);
    background-position: 100% 10%;
    background-repeat: no-repeat;
    background-size: 20px;
}

.buttons {
    border-radius: 16px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.super-host {
    text-transform: uppercase;
    border: 1px solid #4F4F4F;
    color: #4F4F4F;
    border-radius: 12px;
    box-sizing: border-box;
    width: 89px;
    height: 25px;
    font-size: 10px;
    font-weight: 700;
    line-height: 12.19px;
    padding: 0;
}

.rating {
    padding-left: 1.5rem;
    background-image: url(./assets/grade-24px.svg);
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.popup-box {
	width: 100%;
	height: 100vh;
	background-color: white;
	position: absolute; 
	top: 0;
    left: 0;
}

.head {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
}

fieldset {
   border: none;
}

fieldset:first-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

form > div {
    width: 100%;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.button-search {
    background-color: #EB5757;
    color: #F2F2F2;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    border: none;
    padding: 1rem 2rem;
    padding-left: 3rem;
    border-radius: 16px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 60%;
    left: 25%;
    background-image: url(./assets/search-w.svg);
    background-position: 1rem center;
    background-repeat: no-repeat;
    background-size: 20px;
}